.background {
    margin: 0;       
    padding: 0;      
    height: 100vh;   
    width: 100vw;
    background-image: url('/dessin-vde.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;   
}

.cercle {
    width: 700px;
    height: 650px;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    width: 134px;
    height: auto;
    mix-blend-mode: darken;
}


.choix-container {
    width: 80%;
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.choix {

    display: flex;
    flex-direction: column;
    padding: 20px;
    text-align: center;
}
.choix p {
    width: 20%;
}

.choix h3, .choix h4 {
    margin: 0;
}

.choix span {
    display: block;
    margin-bottom: 15px;
    font-size: 14px;
}

.consultant {
    color: #C94B91;
}

.expert {
    color: #57E4EB;
}


.button1, .button2, .button3, .button4 {
    width: 160px;
    height: 38px;
    border-radius: 2em;
    color: #fff;
    border: none;
    font-weight: 500;
}

.button1 { background-color: #C94B91; margin-bottom: 20px; }
.button2 { background-color: #F19937; }
.button3 { background-color: #57E4EB; margin-bottom: 20px; }
.button4 { background-color: #6BB346; }
